@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #007BFF;
  --secondary-color: #00C6FF;

  /* Dark Theme Palette */
  --background-color: #121212;
  --surface-color: #1E1E1E;
  --text-color: #E0E0E0;
  --text-color-darker: #B3B3B3;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
