@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #28a745; /* Verde Principal */
  --secondary-color: #218838; /* Verde Escuro para Hover */

  /* Paleta Principal */
  --background-color: #FFFFFF;
  --surface-color: #FFFFFF;
  --text-color: #343a40; /* Cinza Escuro */
  --text-color-darker: #6c757d; /* Cinza */
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
